<div class="card-container">
    <div id="modalYourInfoShopify" class="modal" style="width: 704px">
    <div class="modal-content">
      <h1 x-large class="sample-content" style="display: inline-block">{{userInfo.firstName}}'s Account</h1>
      <div class="user-label">Image credits left</div>
      <div class="user-text-info">{{userInfo.userCredit}} Images left for download until <span *ngIf="userInfo.creditExpires != ''">{{userInfo.creditExpires | datenice}}</span></div>
      <div class="user-label">Email</div>
      <div class="user-text-info">{{userInfo.userEmail}} </div>
      <div class="user-label">Subscription plan</div>
      <div class="user-text-info">
        <div *ngIf="hasSubscription">
          {{subscription.plan.name | takefirst}} Plan -
          {{subscription.plan.description}} <br>
        </div>
        <div *ngIf="!hasSubscription">
          No active plan
        </div>
      </div>
      <div class="user-label">Auto Renewal Date</div>
      <div class="user-text-info">
        <div *ngIf="hasSubscription">
          {{subscription.endDate | date:shortDate}}
        </div>
        <div *ngIf="!hasSubscription">
          No active plan
        </div>
      </div>
      <br><br>
      <div class="row">
        <button class="waves-effect waves-green btn-flat btn-yourinfo" (click)="changePlan()">Update plan</button>
        <button class="waves-effect waves-green btn-flat btn-yourinfo" [class.disabled]="!hasSubscription" (click)="cancelSubscriptionDialog()">Cancel plan</button>
        <button class="waves-effect waves-green btn-flat btn-yourinfo" (click)="changePassword()">update password</button>
        <button class="waves-effect waves-green btn-flat btn-yourinfo" (click)="showInvoices()">Invoices</button>
      </div>
    </div>
  </div>
    <div id="modalYourInfo" class="modal" style="width: 734px">
        <div class="modal-content">
          <h1 x-large class="sample-content" style="display: inline-block">{{userInfo.firstName}} Account</h1>
            <div class="user-label">Image credits left</div>
            <div class="user-text-info">{{userInfo.userCredit}} Images left for download until <span *ngIf="userInfo.creditExpires != ''">{{userInfo.creditExpires | datenice}}</span></div>
            <div class="user-label">Email</div>
            <div class="user-text-info">{{userInfo.userEmail}} </div>
            <div class="user-label">Subscription plan</div>
            <div class="user-text-info">
                <div *ngIf="hasSubscription">
                {{subscription.plan.name | takefirst}} Plan -
                {{subscription.plan.description}} <br>
                </div>
                <div *ngIf="!hasSubscription">
                    No active plan
                </div>
            </div>
            <div class="user-label">Auto Renewal Date</div>
            <div class="user-text-info">
                <div *ngIf="hasSubscription">
                  {{subscription.endDate | datenice}}
                </div>
                <div *ngIf="!hasSubscription">
                    No active plan
                </div>
            </div>
            <br><br>
            <div class="row">
                <button class="waves-effect waves-green btn-flat btn-yourinfo" (click)="changePlan()">Update plan</button>
                <button class="waves-effect waves-green btn-flat btn-yourinfo" [class.disabled]="!hasSubscription" (click)="cancelSubscriptionDialog()">Cancel plan</button>
                <button class="waves-effect waves-green btn-flat btn-yourinfo" (click)="changePassword()">update password</button>
                <button class="waves-effect waves-green btn-flat btn-yourinfo" (click)="showInvoices()">Invoices</button>
            </div>
        </div>
    </div>
    <div id="modalCancelSubscription" class="modal modal-small">
        <div class="modal-content" [style.display]="showCancelRequest">
          <h1 x-large class="sample-content" style="display: inline-block">Cancel Subscription Plan</h1>

          <p style="font-size: 14.5px">By canceling, your plan will not renew.<br>
            You will be able to use the remaining image credits until {{subscription.endDate | datenice}}.<br>
            </p>

        </div>
        <div class="modal-footer" [style.display]="showCancelRequest">
            <button class="  waves-effect waves-green btn-flat" (click)="cancelSubscription()">cancel plan</button>
            <button class=" waves-effect waves-green btn-flat" (click)="returnToYourInfo('modalCancelSubscription')">back</button>
        </div>
        <div class="modal-content" [style.display]="showCancelResponse">
          <h1 x-large class="sample-content" style="display: inline-block">Cancel Subscription Plan</h1>

            <p style="font-size: 14.5px">{{cancelResponse}}
            </p>

        </div>
        <div class="modal-footer" [style.display]="showCancelResponse">

        </div>
    </div>
    <div id="modalShowInvoices" class="modal" style="width: 704px">
        <div class="modal-content">
          <h1 x-large class="sample-content" style="display: inline-block">Invoices</h1>
            <table class="responsive-table highlight smaller-row" style="width: 500px">
                <tr>
                  <th>Invoice no.</th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th></th>
                </tr>
                <tr *ngFor="let invoice of invoices; let idx = index;">
                    <td>{{invoice.invoiceCode}}</td>
                  <td>$ {{invoice.invoiceTotal }}</td>
                  <td>{{invoice.invoiceDate | datenice}}</td>

                    <td><a href="{{invoice.invoiceURL}}"  target="_blank" style="color: #44a6cb">View Invoice</a></td>
                </tr>
            </table>
            <div *ngIf="noInvoices">
                No invoices found.
            </div>
            <div class="modal-footer" >
                <button class=" waves-effect waves-green btn-flat" (click)="returnToYourInfo('modalShowInvoices')">Back</button>
            </div>
        </div>
    </div>

</div>
