<div class="card-container">
    <div id="modalYourInfo-shopify" class="modal" style="width: 704px">
        <div class="modal-content">
            <h1 x-large class="sample-content" style="display: inline-block">{{userInfo.firstName}}'s Account</h1>
            <div class="user-label">Image credits left</div>
            <div class="user-text-info">{{userInfo.userCredit}} Images left for download until <span *ngIf="userInfo.creditExpires != ''">{{userInfo.creditExpires | date:shortDate}}</span></div>

            <div class="user-label">Subscription plan</div>
            <div class="user-text-info">
                <div *ngIf="hasSubscription">
                {{subscription.plan.name | takefirst}} Plan -
                {{subscription.plan.description}} <br>
                </div>
                <div *ngIf="!hasSubscription">
                    No active plan
                </div>
            </div>
            <div class="user-label">Auto Renewal Date</div>
            <div class="user-text-info">
                <div *ngIf="hasSubscription">
                    {{subscription.endDate | date:shortDate}}
                </div>
                <div *ngIf="!hasSubscription">
                    No active plan
                </div>
            </div>
            <br><br>
            <div class="row">
                <button class="waves-effect waves-green btn-flat btn-yourinfo" (click)="changePlan()">Update plan</button>
                <button class="waves-effect waves-green btn-flat btn-yourinfo" [class.disabled]="!hasSubscription" (click)="cancelSubscriptionDialog()">Cancel plan</button>
            </div>
        </div>
    </div>
    <div id="modalCancelSubscription" class="modal modal-small">
        <div class="modal-content" [style.display]="showCancelRequest">
          <h1 x-large class="sample-content" style="display: inline-block">Cancel Subscription Plan</h1>

          <p style="font-size: 14.5px">By canceling, your plan will not renew.<br>
              You will be able to use the remaining image credits until {{subscription.endDate | date:shortDate}}.<br>
            </p>

        </div>
        <div class="modal-footer" [style.display]="showCancelRequest">
            <button class="  waves-effect waves-green btn-flat" (click)="cancelSubscription()">cancel plan</button>
            <button class=" waves-effect waves-green btn-flat" (click)="returnToYourInfo('modalCancelSubscription')">back</button>
        </div>
        <div class="modal-content" [style.display]="showCancelResponse">
          <h1 x-large class="sample-content" style="display: inline-block">Cancel Subscription Plan</h1>

            <p style="font-size: 14.5px">{{cancelResponse}}
            </p>

        </div>
        <div class="modal-footer" [style.display]="showCancelResponse">

        </div>
    </div>


</div>
