.user-label{
    font-weight: 400;
    font-size: 13px;
    color: #44a6cb;
}
.user-text-info{
    font-weight: 400;
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
}
.btn-yourinfo{
    font-size: 16px;
    color: black;
    font-weight: 400;
}
.smaller-row td,th{
  padding:3px 5px;

}
.smaller-row th{
  font-size: 12px;
  font-weight: 500;

}
.smaller-row td{
  font-size: 16px;
  font-weight: 400;
  color: #939393;
}
